@import "normalize.min.css";
@import "configs";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

html, body{
  height: 100%;
  overflow: hidden;
}

body{
  background: url("../image/bg.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  &::after{
    opacity: 0;
    pointer-events: none;
    transition: 0.7s ease-in-out;
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, 0.7);
  }
  &.loaded{
    &::after{
      opacity: 1;
    }
    h1{
      transform: translateX(0);
    }
  }
}

#main{
  position: relative;
  z-index: 10;
}

h1{
  font-weight: 600;
  font-size: toResponsiveUnits(70, $desktop);
  color: #fff;
  text-align: center;
  transform: translateX(-9999px);
  transition: transform 1s ease-in-out;
}

.shapesWrapper{
  margin: auto;
  max-width: 80%;
  padding: toResponsiveUnits(30, $desktop);
  border-radius: toResponsiveUnits(20, $desktop);
  border: 2px solid #fff;
  background: rgba(0,0,0,0.6);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  input{
    outline: none;
    border: none;
  }
  .shape{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 500;
    font-size: toResponsiveUnits(18, $desktop);
    text-align: center;
    &.alreadyCalc{
      background: #000;
    }
    input{
      width: 60%;
      text-align: center;
      border: 1px solid #fff;
      border-radius: toResponsiveUnits(5, $desktop);
      padding: toResponsiveUnits(10, $desktop);
      background: transparent;
      color: #fff;
    }
    .enterData{
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p{
        font-size: toResponsiveUnits(16, $desktop);
      }
    }
    .result{
      display: none;
      flex-direction: column;
      text-align: left;
      span{
        font-size: toResponsiveUnits(19, $desktop);
        margin-left: toResponsiveUnits(10, $desktop);
        font-weight: 600;
      }
    }
    button{
      cursor: pointer;
      outline: none;
      border: none;
      background: #fff;
      border-radius: toResponsiveUnits(5, $desktop);
      color: #000;
      padding: toResponsiveUnits(5, $desktop) toResponsiveUnits(20, $desktop);
      margin-top: toResponsiveUnits(25, $desktop);
      box-sizing: border-box;
      &:hover{
        background: #000;
        color: #fff;
        outline: 1px solid #fff;
      }
    }
    &:hover{
      cursor: initial;
      .enterData{
        display: flex;
      }
      p.description{
        display: none;
      }
    }
    &.alreadyCalc{
      .enterData{
        display: none;
      }
      p.description{
        display: none;
      }
      .result{
        display: flex;
      }
    }
    &.square{
      width: toResponsiveUnits(250, $desktop);
      height: toResponsiveUnits(250, $desktop);
      border: 2px solid #fff;
      padding: toResponsiveUnits(20, $desktop);
    }
  }
}